.conteiner{
  display:flex;
  align-items: center;
}

.counter-conteiner{
  display:flex;
  align-content: center;
  justify-content: space-between;
}

.buttons{
  padding:5px;
  width:px;
  background-color: blue;
}

h1{
  font-size:5px;
}

#sacola{
font-family:arial;
}