.conteiner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-size: 10px;
}

.title-conteiner {
  margin-right: 5px;
}

.counter-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.buttons{
margin-left: 30px;
}

button {
  padding: 5px;
  color: rgb(117, 117, 117);
}

button.hover,
#sacola.hover {
  background-color: rgb(117, 117, 117);
  color: white;
}

h1 {
  font-size: 15px;
}

counter {
  font-size: 10px;
}

#sacola {
  font-family: arial;
  width: 100%;
  color: rgb(117, 117, 117);
}
