.conteiner{
  display:flex;
  align-items: center;
}

.title-conteiner{
margin-right:5px;
}

.counter-conteiner{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-items: space-evenly;
  background-color: blue;
  width: 100%;
}

button{
  padding:5px;
}

button.hover, #sacola.hover{
  background-color: rgb(117, 117, 117);
  color:white;
}

h1{
  font-size:10px;
}

counter{
font-size: 10px;
}

#sacola{
font-family:arial;
width:100%;
}
