.text-product{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 25em;
    text-align: center;
    background-color: white;
    border-bottom: .5px solid rgb(117, 117, 117);
    margin-left: 8em;
    margin-right: 8em;
    margin-bottom: 2em;

}

h1{
    color: rgb(117, 117, 117);
    font-size: 2em;
}

h5{
    color: rgb(117, 117, 117);
    font-size: 1em;

}